# Generator App Dependencies
Flask==3.0.0
Werkzeug==3.0.1

# Spark Dependencies
pyspark==3.5.6
py4j==0.10.9.7

# Flink Dependencies
apache-flink==1.18.0
apache-flink-libraries==1.18.0

# Common Dependencies
python-dateutil==2.8.2
pytz==2024.1